.dashboard{
  width: 97%;
  float: right;
  height: 143vh;
  color: var(--customColorcon_font);
  background-color: var(--customColorcon);
}
.icons{
  color: var(--customColorcon_font) !important;
  transform: translateX(4vmax);
}
.withSmallPara{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom:0.5vmax ;
}
.theSmall{
  color:var(--customColorcon_orange);
}
.smallInputFields{
  display: flex;
  /* background-color: pink; */
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 110%;
}

.imagesCollectorDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5vmax;
  /* background-color: red; */
  width: 90%;
}
.newProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 135vh;
    width: 100%;
    /* background-color: red; */
  }
  .newProductContainer h1 {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
  }
  #titleHeading{
    font-family: "poppins";
    color: var(--customColorcon_font);
    font-size: 2vmax;
    color: var(--customColorcon_orange);
  }
  .headSpan{
    color: var(--customColorcon_font);
  }
  .createProductForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 3vmax;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
  color: var(--customColorcon_font);
  }
  
  .createProductForm > div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .textes{
    width:40vmax;
  }
  .textesArea{
    width: 80vmax;
  }
  .textestag{
    width: 15vmax;
  }
  /* .createProductForm > div > select, */
  .inputfiled {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0.7vmax;
    font: 300 0.9vmax cursive;
    outline: none;
    border-radius: 5px;
    font-family: "poppins";
    background-color: var(--customColorcon_two);
    border: none;
    border-bottom: 2px solid var(--customColorcon_orange);
    color: var(--customColorcon_font ) !important;
    transition: all 0.1s ease-in-out;
  }
  .inputfiled:focus{
    transition: all 0.1s ease-in-out;
    transform: scale(1.04);
  }
  
  #createProductFormFile > input {
    display: flex;
    padding: 0%;
    background-color: transparent;

  }
  
  #createProductFormFile > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax "poppins";
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: transparent;
    color: var(--customColorcon_orange);
    border: 2px solid var(--customColorcon_orange) ;
    border-radius: 5px;
  }
  
  #createProductFormFile > input::file-selector-button:hover {
    background-color: var(--customColorcon_orange);
    color: var(--customColorcon_font);
  }
  
  #createProductFormImage {
    width: 100%;
    /* height: 7vh; */
    overflow: auto;
    background-color: var(--customColorcon_two);
    margin: 0.5vmax;
    padding: 0.3vmax;
    border-bottom: 1px solid var(--customColorcon_orange);
  }
  
  #createProductFormImage > img {
    width: 3vmax;
    margin: 0 0.5vmax;
  }
  #createProductBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "poppins";
    width: 10%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  #createProductBtn:hover {
    background-color: transparent;
    border: 2px solid var(--customColorcon_orange);
    color: var(--customColorcon_orange);
  }
  
  @media screen and (max-width: 600px) {
    .newProductContainer {
      /* background-color: rgb(255, 255, 255); */
    }
    .createProductForm {
      padding: 5vmax;
    }
  
    .createProductForm > div > input,
    .createProductForm > div > select,
    .createProductForm > div > textarea {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
    .createProductForm > div > svg {
      font-size: 2.8vmax;
    }
  
    #createProductFormFile > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #createProductFormFile > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }
  
    #createProductBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
    .newProductContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content:flex-start ;
      height: 145vh;
      width: 80%;
      /* background-color: red; */
    }
    .textes{
      width:30vmax;
      font-size: 1.1vmax;

    }
    .textesArea{
      width: 30vmax;
      font-size: 1.1vmax;

    }
    .textestag{
      width: 10vmax;
      font-size: 1.1vmax;

    }
    .theSmall{
      font-size: 1.1vmax;
    }
    .tagsCenter{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    #createProductBtn {
      width: 10%;
      padding:1.7vmax;
    }
    .imagesCollectorDiv{
      flex-direction: column;
      padding: 0.3vmax;
      /* background-color: red; */
      width: 90%;
    }
    #createProductFormFile > input {
      font: 300 0.2vmax "poppins";
      width: 100%;
    }
    #createProductFormImage {
      width: 100%;
      height: 7vh;
    }
    .imagcont{
      width: 25% !important;
      height: 100%;
    }
  }