
:root {
	--customColorcon: RGB(245, 249, 252);
    --customColorcon_font:white;
    --customColorcon_orange:#ff8c32;

}
.mainPendingDiv{
    background-color: var(--customColorcon);
    width: 95%;
    padding: 20px;
    margin: 0.4vmax auto;
    border-radius: 30px;
}
.First_pedningDiv{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Second_pedningDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.pend_para{
    font-size: 0.7vmax;
}
.no_orange{
    color: var(--customColorcon_font) !important;
}
.statusLine{
    width: 43%;     
    position: relative;
    height: 0.1vmax;
}
.statusLine::before{
    content: "";
    height: 0.1vmax;
    background-color: #666666ae;
    right: 0;
    position: absolute;
    width: 0%;
    /* width: var(--count); */
}
@media screen and (max-width: 650px) {
    .First_pedningDiv{
        flex-direction: column;
        justify-content: center;
    }
    .Second_pedningDiv{
        flex-direction: column;
        justify-content: center;
        padding: 0.4vmax;
    }
    .pend_para{
        font-size: 1.5vmax;
    }
}