
.contentBox_v2{
    width: 97%;
    float: right;
    height: 185vh;
    /* height: 200%; */
    color: var(--customColorcon_font);
    background-color: var(--customColorcon);
    /* background-color: green ; */
}
.contentBox_v3{
    width: 97%;
    float: right;
    height: 145vh;
    /* height: 200%; */
    color: var(--customColorcon_font);
    background-color: var(--customColorcon);
    
}
.Line2{
    margin: auto;
    width: 80% !important;
    height: 52vh !important;
}
.refericon{
    color: var(--customColorcon_font) !important;
    height:1.5vmax;
    width: 1.5vmax;
    transition: all 0.3s ease-in-out;
    padding: 0.3vmax;
    border-radius: 20px;
}
.refericon:hover{
    background-color: grey;
    transition: all 0.3s ease-in-out;
}
.inConBox1_1_v_2 {
    height: 60vh;
    width:100%;
    border-radius:20px ;
    background-color: var(--customColorcon_two);
    margin-bottom: 0.5vmax;
}
.conBox1_v2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    /* height: 60vh; */
    background-color: transparent;
    padding: 0.4vmax;
    
}
.inConBox1_2_2_V_2{
    height: 50vh;
    flex-wrap: wrap;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 90%;
    margin: auto;
}
.inConBox1_2_v_3{
    width: 98%;

}
.inConBox1_2_2_V_2::-webkit-scrollbar {
    width: 7px;
    /* background-color: red; */
}

.inConBox1_2_2_V_2::-webkit-scrollbar-track {
    border-radius: 10px;
}

.inConBox1_2_2_V_2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:var(--customColorcon_orange);
}
.inConBox1_2_v_2{
    width: 98%;
    margin: auto;
    background-color: var(--customColorcon_two);
    border-radius: 20px;
}
.inConBox1_1_2_v_2{
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    overflow-y: scroll;

    margin: auto;
}

.inConBox1_1_2_v_2::-webkit-scrollbar {
    width: 7px;
    /* background-color: red; */
}

.inConBox1_1_2_v_2::-webkit-scrollbar-track {
    border-radius: 10px;
}

.inConBox1_1_2_v_2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:var(--customColorcon_orange);
}
