:root {
	--customColorcon: RGB(245, 249, 252);
    --customColorcon_two:white;
    --customColorcon_font:white;
    --customColorcon_boxshd:rgba(166,155,155,0.55);
    --customColorcon_orange:#ff8c32;

}

.bigsearchBox{
    width: 97%;
    float: right;
    height: 113vh;
    color: var(--customColorcon_font);
    background-color: var(--customColorcon);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: red; */
}
.produtsRenderer{
    width: 97%;
    margin: auto;
    border-radius: 20px;
    height: 80vh;
    background-color: var(--customColorcon_two);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.produtsRenderer::-webkit-scrollbar {
    width: 7px;
    /* background-color: red; */
}

.produtsRenderer::-webkit-scrollbar-track {
    border-radius: 10px;
}

.produtsRenderer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:var(--customColorcon_orange);
}
